@use '../assets/variablesSCSS.scss' as *;

.bestsellers {

   &__container {}

   &__header {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
   }

   &__body {
      @media (min-width:768px) {
         display: flex;
      }
   }

   &__tab {
      flex: 0 0 25%;
      padding-right: 20px;
   }

   &__content {
      flex: 1 1 auto;
   }

   &__swiper {
      overflow: hidden;
      width: 100%;
      display: none;

      &.active {
         display: block;
      }

      @media (min-width:768px) {
         width: calc((100vw - var(--padding-container) * 2) * 0.75);
      }

      @media (min-width: $max-container) {
         width: calc(var(--container-width) * 0.75);
      }
   }

   &__buttons-swiper {
      display: flex;
      justify-content: center;
   }
}