.bottom-menu {
   position: fixed;
   bottom: 10px;
   left: 0;
   z-index: 18;
   width: 100%;

   @media (min-width:1024px) {
      display: none;
   }

   &__container {}

   &__body {
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 31px;
      background-color: var(--color-white);
      overflow: hidden;
   }
}