.menu-mobile {
   padding: 70px 12px 40px;
   position: fixed;
   top: 0;
   left: 100%;
   z-index: 20;
   width: 100%;
   height: 100vh;
   background-color: var(--color-black);
   overflow-y: auto;
   overflow-x: hidden;
   transition: left 0.3s;

   .is-open-menu & {
      left: 0;
   }

   @media (min-width:1024px) {
      display: none;
   }

   @supports(height: 100dvh) {
      height: 100dvh;
   }



   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      gap: 26px;
   }
}