:root {
   --font-family-montserrat: "Montserrat", sans-serif;
   --font-family-gilroy: "Gilroy", sans-serif;
   --font-family-inter: "Inter", sans-serif;

   --color-white: #ffffff;
   --color-black: #222222;
   --color-blue-crayola: #9db0ba;
   --color-blue-crayola-02: rgba(157, 176, 186, 0.2);
   --color-yellow-broom: #bdcd00;
   --color-smoky-white: #ececec;
   --color-transparent: #ffffff00;
   --color-red: #f05634;
}